html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #393939;
}

.calculator {
  width: 70%;
  max-width: 70%; 
  height: 80vh;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.display input {
  color: white;
  background-color: #1E1E1E;
  width: 100%;
  padding: 2vh;
  font-size: 7vh;
  border: 1px solid #A8A8A8;
  text-align: right;
  margin-bottom: 2vh;
  transition: font-size 0.2s;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vh;
}

button {
  padding: 2vh;
  font-size: 5vh !important;
  border: 0.5px solid #A9A9A9;
  color: white;
  background-color: #252525;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3a3939;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: #393939;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  flex: 0 1 auto;
  width: 100%;
}

.main-content {
  flex: 1 1 auto; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  padding-bottom: 20px;
}

.clear-button, .backspace-button {
  background-color: #B73636;
}

.clear-button:hover, .backspace-button:hover {
  background-color: #d53e3e;
}

.equal-button {
  background-color: #529C38;
}

.equal-button:hover {
  background-color: #5aad3c;
}

.operator-button {
  background-color: #E37F36;
}

.operator-button:hover {
  background-color: #ff8e3e;
}

.functional-keys {
  background-color: #0048a1c5; 
}

.functional-keys:hover {
  background-color: #0048a1;
}

@media (max-width: 600px) {
  .calculator {
    width: 100%;
  }

  .display input {
    font-size: 7vh; 
    padding: 8px; 
  }

  button {
    font-size: 7vh !important; 
    padding: 12px;
  }

  .buttons {
    gap: 1vh;
  }
}

@media (max-width: 400px) {
  .display input {
    font-size: 7vh; 
    padding: 6px;
  }

  button {
    font-size: 6vh !important;
    padding: 10px;
  }

  .buttons {
    gap: 1vh;
  }
}