html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #393939;
}

.calculator {
  flex-grow: 1;
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  border: none;
  display: flex;
  flex-direction: column;
}

.display {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}

.display input {
  color: white;
  background-color: #1E1E1E;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  border: 1px solid #A8A8A8;
  text-align: right;
}

.buttons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 30px !important;
  border: 0.5px solid #A9A9A9;
  color: white;
  background-color: #252525;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3a3939;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: #393939;
  min-height: 100vh;
}

.clear-button {
  background-color: #B73636;
}

.clear-button:hover {
  background-color: #d53e3e;
}

.equal-button {
  background-color: #529C38;
}

.equal-button:hover {
  background-color: #5aad3c;
}

.operator-button {
  background-color: #E37F36;
}

.operator-button:hover {
  background-color: #ff8e3e;
}