html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #393939;
}

.calculator {
  flex-grow: 1;
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.display {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.display input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #ccc;
  text-align: right;
}

.result {
  font-size: 20px;
  margin-top: 10px;
}

.buttons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: #393939;
  min-height: 100vh;
}
