.custom-navbar-brand {
    margin: 0 !important;
    font-weight: bold;
    font-size: 2rem !important;
}

.custom-navbar {
    background-color: #48479C;
    font-family: Consolas, Arial;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid.position-relative {
    position: relative;
    padding: 0 20px;
}

.custom-developer-link {
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 0.9rem !important;
}

@media (max-width: 768px) {
    .custom-developer-link {
        display: none;
    }

    .custom-navbar {
        height: auto;
        padding: 10px 0;
        flex-direction: column;
    }

    .custom-navbar-brand {
        font-size: 1.5rem !important;
        text-align: center;
        width: 100%;
    }

    .container-fluid.position-relative {
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    .custom-navbar-brand {
        font-size: 1.2rem !important;
    }
}